<% include ./header %>
 	<style type="text/css">
 		body{
 			background:#f9f9fa;
 		}
  	</style>
<div class="container-fluid">
	<center><h1>404: page it not found</h1></center>
  	<div class="row" style>
  		    <div class="container" style="text-align:center;margin-top:100px;margin-left:700px;">
  		    	<img src="https://media.gettyimages.com/photos/-picture-id165182593?k=6&m=165182593&s=612x612&w=0&h=HqMxDjFfJzz-5b81mNLpqr0NgO3KRwA2UwnCYdI4R5I=" >	
   			</div>
  	</div>
</div>

<% include ./footer %>