<% include ./header %>


<div class="container-fluid">
	
  	<div class="row" style>
		<style type="text/css">
			body{
		 background-image:url("https://2.bp.blogspot.com/-E2_BSMtyBB8/ViC-agBdsoI/AAAAAAAAAdM/fI2OtSqAjA4/s1600/movie%2Bposter%2Bcollage.jpg");
		
			}
	</style>
		<div style="margin-top:220px; margin-left:28%;">
			

		<font size="8" color="white"><center><h1>Simple Movie Search Engine</h1></center></font>
			<form action = "/results" method="GET" class="input-group">
				<div class="form-group">
					<input type="text" placeholder="type movie name" name="search" class="form-control" style="width:540px; height:50px; margin-right:10px;">
				</div>
				<div class="form-group">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="Sumbit" style="width:100px;height:50px;">Search</button>
					</span>
				</div>
			</form>
		</div>
  	</div>
</div>
<% include ./footer %>
